*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background:#272625;
}

.navegacion ul{
    list-style: none;
}
.menu > li{
    /*position: relativa;*/
    display: inline-block;
}

.menu >li > a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(255, 0, 0);
    transition: all .3s;
}

/* Submenu*/
.submenu{
    position: absolute;
    background: rgb(134, 130, 77);
    width: 10%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;
}